@import url('./App.scss');

html {
  font-size: 1em;
}

body {
  margin: 0;
  font-family: Quicksand;
  color: #444;
  background: #02394A;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}